.nav-list--wrapper {
  top: 0;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  background: white;
  position: absolute;
  top: 75%;
  right: 75%;
  z-index: 1;
  transform: scale(0,0);
  opacity: 0;
  transition: opacity 0.15s ease-in-out, transform 0.45s ease-in-out;
  transform-origin: top right;

  &.visible {
    transform: scale(1,1);
    opacity: 1;
  }

  >.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    >.total-price{

    }
  }
}